*{
    margin: 0;
    padding: 0;
}
body{
}
.wrap{
    margin: 100px auto;
    text-align: center;
}
 table , td ,th{
border: 1px solid gray;
width: 300px;
border-collapse: collapse;
margin: 10px auto;
}
td{
    padding: 5px;
    width: 200px;
}