*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 300px;
    margin: 200px auto;
}
table , td ,th{
    border: 1px solid gray;
    border-collapse: collapse;
    }
    td, th{
        width: 700px;
        padding: 5px;
        font-weight: bold;
    }
    table{
        width: 600px;
    }